body {
	width: 100%;
	margin: 0 auto;
	background-color: #90DAFF;
	font-style: Arial, sans-serif;
	font-size: 24px;
}

#container {
	width: 100%;
	position: relative;
	margin-bottom: 50px;
}

.lexibanner {
	width: 100%;
	position: absolute;
}

h2 {
	color: black;
	position: absolute;
	top: 400px;
	left: 30px;
	width: 100%;
}

#three-photos {
	width: 100%;
}

.lexiphotos {
	width: 30%;
	float: left;
	position: relative;
}
